* {
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

body {
    margin: 0;
}


/* Style the header */

.header {
    background-image: url("../img/banner-2.jpg");
    background-size: cover;
    background-attachment: fixed;
    padding: 12% 20px;
    text-align: center;
}

.header h1 {
    font-size: 12vh;
}


/* Create three equal columns that floats next to each other */

.one-column {
    float: left;
    width: 100%;
    padding: 20px 20%;
}

.one-column h1,
.one-column h2 {
    text-align: center;
    font-size: 6vw;
}

#one-column-1 {
    padding: 0px 20%;
}

#one-column-2 {
    padding: 4% 15%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

#section-2 {
    background-color: #28ECA5;
}

#section-5 {
    background-color: #46A6FC;
}

.two-column {
    padding: 20px;
    width: 50%;
    float: left;
}

.two-column h1 {
    font-size: 6vw;
}

.two-column h2 {
    font-size: 3vw;
    font-weight: 500;
}

.two-column img {
    width: 100%;
}

.four-column {
    padding: 1% 1% 3%;
    float: left;
    width: 16.66%;
}

.four-column p {
    text-align: center;
    font-weight: 800;
    font-size: 2vw;
}

.four-column img {
    width: 100%;
}

#section-4 {
    padding: 0% 0%;
    width: 25%;
}


/*footer*/

#footer {
    background-color: black;
}

#footer-2 {
    padding: 2% 1%;
}

.two-column-footer {
    padding: 0.5% 1%;
    width: 25%;
    float: left;
    color: blanchedalmond;
    font-size: 18px;
}

@media screen and (max-width:600px) {
    .four-column,
    .two-column,
    {
        width: 50%;
    }
    .four-column img {
        width: 100%;
    }
    .two-column img {
        width: 120%;
    }
    .header h1 {
        font-size: 10vw;
    }
    .two-column h1 {
        font-size: 5vw;
    }
    .two-column {
        padding: 1% 10%;
    }
    .two-column-footer p {
        font-size: 3vw;
    }
    #footer {
        padding: 0% 8%;
    }
}